/*GLOBALSLS*/
* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration:none;
    letter-spacing: normal;
    text-justify: inter-word;
    box-sizing: border-box;
    width: 100%;
    max-width: 960px;
    margin: auto;
}

/*BANNER*/
.DivBanner{
  background-color: rgba(41, 184, 240, 0.342);
  width: 21%;
  height: 6%;
  padding-left:  5%;
  padding-right: 5%;
  margin-left:   10%;
  margin-right:  3%;
  margin-top: -30%;
  border-radius: 3%;
  position: absolute;
}

.h1banner{
  position: absolute;
  margin-top: 5%;
  font-size: 50px;
  text-align: center;
}

.h1banner:hover{
  color: #f3b406;
}

/*Color de fuente*/
.h1banner,
.h4b,
.pA,
.hP {
    color: rgb(255, 255, 255);
}

.h4b{
font-size: 100%;
}

.color{
  color: white;
}

.color:hover{
  color: blue;
}

/*SOBRE MÍ*/
.About{
 background: #7299FE;
}

.h2A{
    color: blue;
    padding: 20px;
    font-size: 35px;
}

.h3A{
  padding: 10px;
  margin-bottom: 05px; 
}

.pA{
    padding: 10px;
    margin-top: 10px;
    justify-content: center;
}

.DivA{
    width: 140px;
    margin-top: 05px;
    border-radius: 18px;
    border: outset;
    position: relative;
    box-shadow: rgb(12, 12, 12);
    background-color: palevioletred;
    margin-bottom: 05px;    
}



/*SKILLS*/
.Skills{
  background: #5c07a1;
  margin-bottom: 05px;
  padding: 60px;
 }

h5{
  color: white;
  margin-right: 350px;
}

h2{
  color: green;
  margin-bottom: 40px;
  padding: 25px;
  font-size: 35px;
}

.DivSS{
  border: 01px solid black;
  padding: 5px;
  margin: 10px;
  position: absolute;
  width: 450px;
  box-sizing: content-box;
}


.DivS1{
  background: rgb(123, 226, 19);
  position: absolute;
  height: 10px;
  width: 200px;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
  
}

.DivS2{
  background: rgb(7, 163, 253);
  position: absolute;
  height: 10px;
  width: 200px;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  margin: 5px 3px 2px 2px;
  margin-left: 160px;
  margin-bottom: 30px;
  
} 



/*PORTAFOLIO*/

.Father1,
.Father2{
  display: inline-flex;
  width: 60%;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

.Father1>div{
  margin: 1%;
}

.Father2>div{
  margin: 1%;
  margin-bottom: 20px;
}


.Portafolio{
  background: #FFD233;
  margin-bottom: 5%;
}
.H2P{
  color: #00AD84;
}


/*CLIENTES*/
.H2C{
  color: #ADFF28;
}

.Clientes{
  background: #3F4E62;

}

.flexContPClient{
  display:flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  margin-bottom: 5%;
  
}

.flexContPClient>div{
  width: 100%;
  margin: 2%;
}


/*CONTACTO*/
.H1Cont{
  color: red;
  margin-bottom: 40px;
  padding: 25px;
  font-size: 35px;
}

input:valid{
  color: blue;
}

input:invalid{
  color: red;
}

.Contacto{
  background: #1687A0 ;
}

.Flex1{
  display: flex;
  height: 80px;
  align-items: center;
  position: relative;
}

.Flex1 > div{
  width: 800px;
  margin: 05px;
  text-align: center;
  line-height: 20px;
  font-size: 30px;
}

.Flex2{
  display: flex;
  height: 80px;
  align-items: center;
  position: relative;
}

.Flex2 > div{
  width: 800px;
  margin: 05px;
  text-align: center;
  line-height: 20px;
  font-size: 30px;
}

.Style1,
.Style2,
.Style3,
.Style4{
  width : 50%; height: 50%;
}

/*Imágenes*/
.imgB{
 width: 100%;
 height: 35%;
}